/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}


/* peter custom */

.bm-item-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Position and sizing of burger button */
.bm-burger-button {
  width: 18px;
  height: 12px;
  left: 20px;
  top: 46px;
}

.bm-burger-button .bm-burger-bars {
  background-color: #fff;
}

.bm-menu {
  background-color: #fff;
  padding: 0;
}

.bm-cross-button {
  display: none;
}


/*  userInfo  */

.bm-menu img {
  width: 55px;
  height: 55px;
  border-right: 50%;
  display: block;
  margin: 0 auto;
  margin-top: 34px;
}

.bm-link-list>a {
  display: block;
  line-height: 55px;
  border-bottom: 1px solid #E3E9EC;
  padding-left: 20px;
  font-size: 12px;
  color: #878787;
}

.bm-user-auth {
  text-align: center;
}

.bm-user-auth a {
  display: inline-block;
  font-size: 14px;
  color: #F77062;
}

.bm-user-auth {
  margin-top: 7px;
}

.bm-user-auth .bm-user-left {
  padding-right: 5px;
  border-right: 2px solid #F77062;
  line-height: 1;
}
.bm-user-auth .bm-user-right {
  padding-left: 5px;
}

.bm-close-button {
  width: 166px;
  line-height: 39px;
  display: block;
  margin: 0 auto;
  background-image: linear-gradient(-45deg, #F77062 0%, #FE5196 100%);
  border-radius: 2px;
  font-size: 14px;
  color: #FFFFFF;
  margin-bottom: 30px;
  border: 0;
}